.triangle-background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#row-top-main {
  transition: rotate(0deg);
  transition-delay: 1s;
  position: fixed;
  top: 0vw;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

#row-top-main.active {
  transition: rotate(0deg);
  transition-delay: 1ms;
  position: fixed;
  top: 0vw;
  display: flex;
  flex-direction: row;
  z-index: -1;
}

#row-top {
  position: fixed;
  bottom: 10vw;
  transition: rotate(0deg);
  transition-delay: 1s;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

#row-top.active {
  transition: rotate(0deg);
  transition-delay: 1ms;
  display: flex;
  flex-direction: row;
  z-index: -1;
}

#row-bottom {
  position: fixed;
  top: 10vw;
  transition: rotate(0deg);
  transition-delay: 1s;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

#row-bottom.active {
  transition: rotate(0deg);
  transition-delay: 1ms;
  display: flex;
  flex-direction: row;
  z-index: -1;
}

#row-bottom-main {
  transition: rotate(0deg);
  transition-delay: 1s;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
  bottom: 0vw;
}

#row-bottom-main.active {
  transition: rotate(0deg);
  transition-delay: 1ms;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: -1;
  bottom: 0vw;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 8.33vw solid rgb(255, 61, 47);
  border-right: 8.33vw solid transparent;
  opacity: 60%;
  transition: border-top ease-in-out .25s;
}

#triangle-topleft:hover {
  width: 0;
  height: 0;
  border-top: 8.33vw solid rgb(30,30,30);
  border-right: 8.33vw solid transparent;
  opacity: 60%;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 8.33vw solid rgb(255, 61, 47);
  border-left: 8.33vw solid transparent;
  opacity: 35%;
  transition: border-top ease-in-out .25s;
}

#triangle-topright:hover {
  width: 0;
  height: 0;
  border-top: 8.33vw solid rgb(30,30,30);
  border-left: 8.33vw solid transparent;
  opacity: 35%;
}

#triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 8.33vw solid rgb(255, 61, 47);
  border-right: 8.33vw solid transparent;
  opacity: 35%;
  transition: border-bottom ease-in-out .25s;
}

#triangle-bottomleft:hover {
  width: 0;
  height: 0;
  border-bottom: 8.33vw solid rgb(30,30,30);
  border-right: 8.33vw solid transparent;
  opacity: 35%;
}

#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 8.33vw solid rgb(255, 61, 47);
  border-left: 8.33vw solid transparent;
  opacity: 60%;
  transition: border-bottom ease-in-out .25s;
}

#triangle-bottomright:hover {
  width: 0;
  height: 0;
  border-bottom: 8.33vw solid rgb(30,30,30);;
  border-left: 8.33vw solid transparent;
  opacity: 60%;
}

.menu-triangle {
  display: flex;
  top: 0vw;
  right: 0vw;
  position: fixed;
}

.name-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  color: whitesmoke;
  margin-top: 12.5%;
  padding-top: 2.3%;
  padding-bottom: 2%;
  z-index: 5;
}

#name {
  font-size: 4vw;
}

#title, #title2{
  font-size: 2vw;
  margin-left: 10%;
}

@media (max-width: 1350px) {
  .name-info {
    padding-top: 3%;
  }
}

@media (max-width: 1325px) {
  .name-info {
    padding-top: 3.7%;
  }
}

@media (max-width: 1300px) {
  .name-info {
    padding-top: 4.4%;
  }
}

@media (max-width: 1275px) {
  .name-info {
    padding-top: 5.1%;
  }
}

@media (max-width: 1250px) {
  .name-info {
    padding-top: 5.8%;
  }
}

@media (max-width: 1225px) {
  .name-info {
    padding-top: 6.5%;
  }
}

@media (max-width: 1200px) {
  .name-info {
    padding-top: 7.2%;
  }
}

@media (max-width: 1175px) {
  .name-info {
    padding-top: 7.9%;
  }
}

@media (max-width: 1150px) {
  .name-info {
    padding-top: 8.6%;
  }
}

@media (max-width: 1125px) {
  .name-info {
    padding-top: 9.3%;
  }
}

@media (max-width: 1100px) {
  .name-info {
    padding-top: 10%;
  }
}

@media (max-width: 1075px) {
  .name-info {
    padding-top: 10.7%;
  }
}

@media (max-width: 1050px) {
  .name-info {
    padding-top: 11.4%;
  }
}

@media (max-width: 1025px) {
  .name-info {
    padding-top: 12.1%;
  }
}
/*Increment Change*/
@media (max-width: 1000px) {
  .name-info {
    padding-top: 13.2%;
  }
}

@media (max-width: 975px) {
  .name-info {
    padding-top: 14.3%;
  }
}

@media (min-width: 950px) and (max-width: 1150px) {
  #name {
    font-size: 4.1vw;
  }
  
  #title, #title2{
    font-size: 2.1vw;
  }
}
/*Adjust Font Size*/
@media (max-width: 950px) {
  .name-info {
    padding-top: 15.4%;
  }

  #name {
    font-size: 4.3vw;
  }
  
  #title, #title2{
    font-size: 2.3vw;
  }
}

@media (max-width: 925px) {
  .name-info {
    padding-top: 16.2%;
  }

  #name {
    font-size: 4.4vw;
  }
  
  #title, #title2{
    font-size: 2.4vw;
  }
}

@media (max-width: 900px) {
  .name-info {
    padding-top: 17%;
  }

  #name {
    font-size: 4.6vw;
  }
  
  #title, #title2{
    font-size: 2.6vw;
  }
}
/*Increment Change*/
@media (max-width: 875px) {
  .name-info {
    padding-top: 17.8%;
  }

  #name {
    font-size: 4.8vw;
  }
  
  #title, #title2{
    font-size: 2.8vw;
  }
}

@media (max-width: 850px) {
  .name-info {
    padding-top: 18.6%;
  }

  #name {
    font-size: 5vw;
  }
  
  #title, #title2{
    font-size: 3vw;
  }
}

@media (max-width: 825px) {
  .name-info {
    padding-top: 19.6%;
  }

  #name {
    font-size: 5.2vw;
  }
  
  #title, #title2{
    font-size: 3.2vw;
  }
}

@media (max-width: 800px) {
  .name-info {
    padding-top: 20.6%;
  }

  #name {
    font-size: 5.4vw;
  }
  
  #title, #title2{
    font-size: 3.4vw;
  }
}
/*Increment Change*/
@media (max-width: 775px) {
  .name-info {
    padding-top: 21.8%;
  }

  #name {
    font-size: 5.6vw;
  }
  
  #title, #title2{
    font-size: 3.6vw;
  }
}

@media (max-width: 750px) {
  .name-info {
    padding-top: 23.6%;
  }

  #name {
    font-size: 5.6vw;
  }
  
  #title, #title2{
    font-size: 3.6vw;
  }
}
/*Increment Change*/
@media (max-width: 725px) {
  .name-info {
    padding-top: 25.4%;
  }

  #name {
    font-size: 5.6vw;
  }
  
  #title, #title2{
    font-size: 3.6vw;
  }
}

@media (max-width: 700px) {
  .name-info {
    padding-top: 27.2%;
  }

  #name {
    font-size: 5.6vw;
  }
  
  #title, #title2{
    font-size: 3.6vw;
  }
}

@media (max-width: 675px) {
  .name-info {
    padding-top: 29.2%;
  }
}

@media (max-width: 575px) {
  .name-info {
    padding-top: 31.2%;
  }
}

@media (max-width: 500px) {
  .name-info {
    padding-top: 45.2%;
  }
}

@media (max-width: 425px) {
  .name-info {
    padding-top: 60.2%;
  }
}

@media (max-width: 378px) {
  .name-info {
    padding-top: 75%;
  }

  #name {
    font-size: 6vw;
  }
  
  #title, #title2{
    font-size: 4vw;
  }
}

@media (min-height: 0px) and (max-height: 635px){
  .name-info {
      padding-top: 15%;
  }
}

/*Moto and Galaxy*/
@media (min-width: 359px) and (max-width: 361px) and (min-height: 639px) and (max-height: 641px) {
  .name-info {
    padding-top: 55%;
  }

  #name {
    font-size: 6vw;
  }
  
  #title, #title2{
    font-size: 4vw;
  }
}
/*iPhone 5*/
@media (min-width: 319px) and (max-width: 321px) and (min-height: 567px) and (max-height: 569px) {
  .name-info {
    padding-top: 55%;
  }

  #name {
    font-size: 6vw;
  }
  
  #title, #title2{
    font-size: 4vw;
  }
}

/*iPhone 6/7/8*/
@media (min-width: 374px) and (max-width: 376px) and (min-height: 666px) and (max-height: 668px) {
  .name-info {
    padding-top: 40%;
  }

  #name {
    font-size: 6vw;
  }
  
  #title, #title2{
    font-size: 4vw;
  }
}

/*iPad*/
@media (min-width: 1023px) and (max-width: 1025px) and (min-height: 1365px) and (max-height: 1367px) {
  .name-info {
    padding-top: 35%;
  }

  #name {
    font-size: 5.8vw;
  }
  
  #title, #title2{
    font-size: 3.8vw;
  }
}

@media (min-height: 0px) and (max-height: 450px){
  .name-info {
    padding-top: 10%;
  }
  #row-top {
    display: none;
  }

  #row-top.active {
    display: none;
  }

  #row-bottom-main {
      display: none;
  }
  
  #row-bottom-main.active {
      display: none;
  }
}

.name-info p {
  margin-left: 5%;
  margin-top: 1.5%;
  border-right: .15em solid rgb(255, 61, 47);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 4px 4px 4px rgb(255, 61, 47);
  white-space: nowrap;
  overflow: hidden;
}

.name-info p:nth-child(1) {
  width: 12em;
  -webkit-animation: type 3s steps(40, end);
  animation: type 3s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.name-info p:nth-child(2) {
  width: 23em;
  visibility: hidden;
  -webkit-animation: type2 4s steps(40, end);
  animation: type2 4s steps(40, end);
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.name-info p:nth-child(3) {
  width: 17em;
  visibility: hidden;
  -webkit-animation: type2 4s steps(40, end);
  animation: type2 4s steps(40, end);
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin-bottom: 1.5%;
}

@media (max-width: 400px) {
  #name {
    font-size: 6vw;
  }

  #title, #title2{
    font-size: 3.5vw;
    margin-left: 10%;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(255, 61, 47);
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(255, 61, 47);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    visibility: visible;
  }
  99.9% {
    border-right: .15em solid rgb(255, 61, 47);
  }
  100% {
    visibility: visible;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    visibility: visible;
  }
  99.9% {
    border-right: .15em solid rgb(255, 61, 47);
  }
  100% {
    visibility: visible;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
