 .outserved-title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  height: 9vw;
  color: whitesmoke;
  background: rgba(0,0,0,0.2);
  margin-top: 1%;
}

.outserved-title-section p {
  margin-left: 5%;
  border-right: .15em solid rgb(255, 61, 47);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 4px 4px 4px rgb(255, 61, 47);
  white-space: nowrap;
  overflow: hidden;
}

.outserved-title-section p:nth-child(1) {
  width: 12.2em;
  -webkit-animation: type 3s steps(40, end);
  animation: type 3s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#outserved-content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
}

#outservedTitle {
  font-size: 4vw;
}

#outservedDescription {
  font-size: 1.75vw;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .25vw;
  text-align: center;
  margin-bottom: 5%;
}

#kaggle {
    z-index: 5;
    transition-delay: 1s;
    margin-bottom: 5%;
}

#kaggle.active {
    z-index: -1;
    transition-delay: 1ms;
}

#outserved-link {
  position: relative;
  z-index: 5;
  color: whitesmoke;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .25vw;
  text-align: center;
  margin-top: 5%;
  transition-delay: 1s;
}

#outserved-link.active {
  transition-delay: 1ms;
  z-index: -1;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(255, 61, 47);
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(255, 61, 47);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    visibility: visible;
  }
  99.9% {
    border-right: .15em solid rgb(255, 61, 47);
  }
  100% {
    visibility: visible;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    visibility: visible;
  }
  99.9% {
    border-right: .15em solid rgb(255, 61, 47);
  }
  100% {
    visibility: visible;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}