  .portfolio-title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    height: 9vw;
    color: whitesmoke;
    background: rgba(0,0,0,0.2);
    margin-top: 1%;
  }
  
  .portfolio-title-section p {
    margin-left: 5%;
    border-right: .15em solid rgb(255, 61, 47);
    font-family: 'Orbitron', sans-serif;
    text-shadow: 4px 4px 4px rgb(255, 61, 47);
    white-space: nowrap;
    overflow: hidden;
  }

  .portfolio-title-section p:nth-child(1) {
    width: 10.25em;
    -webkit-animation: type 3s steps(40, end);
    animation: type 3s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  #portfolioTitle {
    font-size: 4vw;
  }

  #project-section {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin-left: 10%;
  }

  #project-section ul {
      transition: rotate(0deg);
      transition-delay: 1s;
      list-style: none;
      z-index: 5;
  }

  #project-section.active ul {
      transition: rotate(0deg);
      transition-delay: 1ms;
      z-index: -1;
  }

  #project-section ul li {
      margin: 8% 10% 8% 10%;
      padding: 5%;
      background: rgba(0,0,0,0.2);
      border: 1px groove rgb(255, 61, 47);
  }

  #project-section ul li:hover {
    margin: 8% 10% 8% 10%;
    padding: 5%;
    background: rgb(255, 61, 47);
    border: 1px inset rgb(255, 61, 47);
}

  #project-section ul li a {
      text-decoration: none;
      color: whitesmoke;
      font-size: 3vw;
      font-family: 'Montserrat', sans-serif;
  }

  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(255, 61, 47);
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(255, 61, 47);
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      visibility: visible;
    }
    99.9% {
      border-right: .15em solid rgb(255, 61, 47);
    }
    100% {
      visibility: visible;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      visibility: visible;
    }
    99.9% {
      border-right: .15em solid rgb(255, 61, 47);
    }
    100% {
      visibility: visible;
      border: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
  
  